# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom, program name, .vscode, .DS_store and build incase of object file
ircserv
testpleaseignore.cpp
.vscode
.DS_store
build

# Ignore LimeChat
/LimeChat_2.40
